<section class="fragrances">
	<div class="fragrances-inner">
		<div class="fragrances-card-wrap">
			<div class="fragrances-card">
				<div class="fragrances-card__text">
					<p class="fragrances-card__text-intro">P.E.C.® 1</p>
					<h4 class="fragrances-card__text-title">Honor</h4>
					<p class="fragrances-card__text-descr">
						Honor is best kept for getting in the zone and becoming productive.
					</p>
					<p class="fragrances-type__title">
						Honor is specifically formulated with
					</p>
				</div>
				<div class="fragrances-type-wrap">
					<div class="fragrances-type">
						{{#each honorTags}}
							<div class="fragrances-tag">
								{{this.title}}
								<div class="fragrances-hint">
									<p>
										{{this.description}}
									</p>
								</div>
								<div class="fragrances-tag__bg"></div>
							</div>
						{{/each}}
					</div>
				</div>
				<button class="standard-btn fragrances-btn">buy now</button>
				<div class="fragrances-card__img-wrap">
					<img
					src="/public/assets/images/type-light.png"
					alt=""
					class="fragrances-card__img"/>
				</div>	
			</div>
			<img class="fragrances-line fragrances-line--left" src="/public/assets/images/card-line-left.png" alt="">
			<img class="fragrances-line fragrances-line--right" src="/public/assets/images/card-line-right.png" alt="">
		</div>
		<div class="fragrances-card-wrap">
			<div class="fragrances-card">
				<div class="fragrances-card__text">
					<p class="fragrances-card__text-intro">P.E.C.® 2</p>
					<h4 class="fragrances-card__text-title">Courage</h4>
					<p class="fragrances-card__text-descr">
						Courage in invigorating and primes your body for action. It should
						be used when you need a boost of energy or to get into a peak state.
					</p>
					<p class="fragrances-type__title">
						Honor is specifically formulated with
					</p>
				</div>
				<div class="fragrances-type-wrap">
					<div class="fragrances-type">
						{{#each courageTags}}
							<div class="fragrances-tag">
								{{this.title}}
								<div class="fragrances-hint">
									<p>
										{{this.description}}
									</p>
								</div>
								<div class="fragrances-tag__bg"></div>
							</div>
						{{/each}}
					</div>
				</div>
				<button class="standard-btn fragrances-btn">buy now</button>
				<div class="fragrances-card__img-wrap">
					<img
					src="/public/assets/images/type-golden.png"
					alt=""
					class="fragrances-card__img"
					/>
				</div>
				
			</div>
			<img class="fragrances-line fragrances-line--left" src="/public/assets/images/card-line-left.png" alt="">
			<img class="fragrances-line fragrances-line--right" src="/public/assets/images/card-line-right.png" alt="">
		</div>
		<div class="fragrances-card-wrap">
			<div class="fragrances-card">
				<div class="fragrances-card__text">
					<p class="fragrances-card__text-intro">P.E.C.® 3</p>
					<h4 class="fragrances-card__text-title">Commitment</h4>
					<p class="fragrances-card__text-descr">
						Commitment is formulated to keep you energized, focused,
						clear-headed, and productive right through until the end of your
						day.
					</p>
					<p class="fragrances-type__title">
						Honor is specifically formulated with
					</p>
				</div>
				<div class="fragrances-type-wrap">
					<div class="fragrances-type">
						{{#each commitmentTags}}
							<div class="fragrances-tag">
								{{this.title}}
								<div class="fragrances-hint">
									<p>
										{{this.description}}
									</p>
								</div>
								<div class="fragrances-tag__bg"></div>
							</div>
						{{/each}}
					</div>
				</div>
				<button class="standard-btn fragrances-btn">buy now</button>
				<div class="fragrances-card__img-wrap">
					<img
					src="/public/assets/images/type-dark.png"
					alt=""
					class="fragrances-card__img"/>
				</div>	
			</div>
			<img class="fragrances-line fragrances-line--left" src="/public/assets/images/card-line-left.png" alt="">
			<img class="fragrances-line fragrances-line--right" src="/public/assets/images/card-line-right.png" alt="">
		</div>
	</div>
</section>
<!-- <div class="fragrance-type">
	{{#each honorTags}}
	<div class="fragrance-tag">{{this.title}}</div>
	{{/each}}
</div> -->
